#nemo {
  float: right;
}

#clickTheText {
  text-align: center;
  color: #0088cc;
  margin: 20px;
}

#clickTheText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.text {
  display: none;
  color: red;
}

.text p {
  width: 800px;
}

.first {
  display: none;
}

.second {
  display: none;
}

.third {
  display: none;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}
.clickable {
    color: #0088cc;
}

.shark:hover {
  text-decoration: underline;
  cursor: pointer;
}

.shark {
  color: #0088cc;
}
