#nemo {
  float: right;
  margin-right: 100px;
}

#clickTheText {
  text-align: center;
  color: #0088cc;
  margin: 20px;
}

#clickTheText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  margin-left: 50px;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.button {
  display: none;
}

.text {
  margin-top: 50px;
  display: none;
}

.text p {
  margin-left: 50px;
  width: 800px;
}

.text h2 {
  width: 800px;
  text-align: center;
}

.first {
  display: none;
  margin-left: 50px;
}

.second {
  display: none;
  margin-left: 50px;
}

.sharkPic img {
  float: left;
  margin-left: 50px;
}

.sharkPic {
  display: none;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}
.clickable {
    color: #0088cc;
}

.returnMain:hover {
  text-decoration: underline;
  cursor: pointer;
}
.returnMain {
    color: #0088cc;
}

#shark:hover {
  text-decoration: underline;
  cursor: pointer;
}

#shark {
  color: #0088cc;
}
